@model IEnumerable<CustomerSegmentation.Models.Customer>

@{
    ViewData["Title"] = "Index";
}
<style>
    a.nav-link:hover {
        background-color: lightgray;
        opacity: 0.7;
        border-radius: 20px;
    }
</style>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script>
    function test() {
        var test = 2
        document.getElementById("test").innerHTML = test;
     }
</script>

<h1>Statistics Page</h1>
<hr />
<button onclick="test()"> Click </button>
<div>
    <p id="test"></p>
</div>
