@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Customer Segmentation</h1>
</div>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <div class="col-lg-4 col-md-12 mb-4 p-5">
        <div class="panel panel-info">
            <div class="panel-heading"><center><h4><b>Customers</b></h4></center></div>
            <div class="panel-body">This section contains all the database information. <br />It also provides tools such as Edit, Details and Delete. <br />On this page you can also create and insert new data into the database.</div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 mb-4 p-5">
        <div class="panel panel-info">
            <div class="panel-heading"><center><h4><b>Statistics</b></h4></center></div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 mb-4 p-5">
        <div class="panel panel-info">
            <div class="panel-heading"><center><h4><b>Predictions</b></h4></center></div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
