@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Customer Segmentation</h1>
</div>
<style>
    a.nav-link:hover {
        background-color: lightgray;
        opacity: 0.7;
        border-radius: 20px;
    }

    .ltitle {
        border: 1px solid;
        padding: 10px;
        border-radius: 20px 50px;
    }
</style>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<hr />
<div class="row">
    <div class="jumbotron col-md-4">
        <h2><b class="ltitle">Customers</b></h2>
        <p>
            This section contains all the database information. <br />
            It also provides tools such as Edit, <br />
            Details and Delete.
        </p>
    </div>
    <div class="jumbotron col-md-4 bg-secondary text-white">
        <h2><b class="ltitle">Statistics</b></h2>
        <p>
            On the statistics page you can view graphs <br />
            about our data, and the correlations <br />
            between data.
        </p>
    </div>
    <div class="jumbotron col-md-4 bg-dark text-white">
        <h2><b class="ltitle">Predictions</b></h2>
        <p>
            Here you are able to input custom customer data <br />
            such as gender age and annual income, <br />
            and our algorithm will predict your spending score.
        </p>
    </div>
</div>
